:root {
  --primary1: #3299ed;
  --primary2: #f2575f;
  --nav-select: #f9272b;
  --bg1: linear-gradient(bottom, #c0e3f8, #fff7f7);
  --bg2: linear-gradient(bottom, #fff7f7, #c0e3f8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Inter", sans-serif;
}

.navbar {
  padding: 10px;
  background-color: #fff;
  /* margin-bottom: 800px; */
}

.navbar {
  transition: top 0.4s ease-in-out;
}

.navbar-hide {
  top: -80px; /* Sesuaikan dengan tinggi navbar */
}

.nav-brand {
  display: inline-block;
  text-align: center;
}

.logo {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo-text {
  margin: 5px 0 0; /* jarak dari logo */
  font-size: 0.6em; /* lebih kecil dari ukuran default */
  line-height: 1; /* biar rapi */
  font-weight: 500;
}

.navbar .nav-link.active {
  color: var(--nav-select) !important; /* warna teks nav item aktif */
  border-bottom: 2px solid var(--primary2);
  transition: all 0.2s ease-in-out;
}

.navbar .nav-link:hover {
  color: var(--primary2);
}

.navbar .dropdown-item:hover {
  color: var(--primary2);
}

.navbar .btn {
  background-color: var(--primary1);
  transition: background-color 0.3s ease;
  color: #fff;
}

/* Hover untuk tombol */
.navbar .btn:hover {
  background-color: var(--primary2) !important; /* warna background saat hover */
  color: #fff !important; /* warna teks saat hover */
}

#offcanvasNavbar {
  background-color: #fff;
}

